# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


tastify-client/node_modules
tastify-client/dist
tastify-client/dist-ssr
tastify-client/*.local

# Editor directories and files
tastify-client/.vscode/*
tastify-client/!.vscode/extensions.json
tastify-client/.idea
tastify-client/.DS_Store
tastify-client/*.suo
tastify-client/*.ntvs*
tastify-client/*.njsproj
tastify-client/*.sln
tastify-client/*.sw?

tastify-server/node_modules
tastify-server/.env
tastify-server/.vercel
